* {
  margin: 0;
  padding: 0;
}
/* html {
  width: 100%;
  font-size: 100%;
} */
body {
  width: 100vw;
  /* background-image: url("../images/HiFi.png"); */
  background-size: 100%;
  /* background-color: aqua; */
  font-family: 'Pretendard';
  color: #363D38;
  overflow-x: hidden;
  height: 100vh;
}
img {display: block;}

header {
  /* border: 3px solid red; */
  box-sizing: border-box;
  width: 100vw;
  height: 90px;
  /* background-image: url("../images/HiFi.png"); */
  position: fixed;
  background-color: #010101;
  position: relative;
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
}
header > #logo {
  position: absolute;
  /* top: 30px; */
  left: 10.4167vw;
  cursor: pointer;
  width: 4.8958vw;
}
header > #logo > img {width: 100%;}
header > nav {
  /* border: 3px solid red; */
  width: 30.8854vw;
  position: absolute;
  /* top: 30px; */
  right: 10.4167vw;
  /* margin: 34px 0 0 1126px; */
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav li {
  font-size: 1.0417vw;
  font-weight: 600;
  display: inline;
}
a:link {text-decoration: none; color: rgb(255, 255, 255); transition: color 0.2s ease-in-out;}
a:visited {text-decoration: none; color: rgb(255, 255, 255);}
a:hover {color: #FFB155;}
a:active {color: #FFB155;}

section {
  width: 100vw;
  /* border: 3px solid red; */
  box-sizing: border-box;
  /* visibility: hidden; */
  /* background-image: url("../images/HiFi.png"); */
}

#scrolltotap {
  position: relative;
  position: fixed;
  width: 4.3750vw;
  height: 7.7778vh;
  right: 4vw;
  bottom: 6vh;
  z-index: 100;
  cursor: pointer;
  /* opacity: 0; */
  /* transition: opacity 1.5s ease-in; */
  /* border: red 1px solid; */
}
#scrolltotap > img {width: 100%;}